body {
    background-color: #3b3b3b;
    color: #ededed;
}

a:link {
    color: a:link {
  color: #ffc800;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #ffc800;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #ffc800;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #ffc800;
  background-color: transparent;
  text-decoration: underline;
};
    background-color: transparent;
    text-decoration: none;
  }
 